[defaults]
host_key_checking = False
timeout = 30
gathering = explicit
stdout_callback = json
display_args_to_stdout = False
interpreter_python = auto_silent

[persistent_connection]
connect_retry_timeout = 60
command_timeout = 60

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = True
